.contact{
    width: 100%;
    min-height: 600px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.discription{
    width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0 10px;
}
.discription p{
    display: flex;
    align-items: center;
    gap: 10px;
}
form{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #979797;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 1px rgba(187, 187, 187, 0.75);
}

.entry{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.um{
    width: 95%;
    display: flex;
    flex-direction:row;
}

.quatro{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.entry div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* ----------------------------------------Querys------------------------------------------ */

@media (max-width: 768px) {
    .contact{
        flex-direction: column;
    }
    .discription{
        width: 90%;
    }
    form{
        width: 90%;
        margin-bottom: 20px;
    }

}