.themes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.themes p{
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.layouts{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 500px;
}
.container-layouts{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 400px;
    width: 90%;
    padding: 40px;
    gap: 30px;
}
.layout{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 500px;
    height: 380px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 8px 1px rgba(39, 153, 219, 0.75);
}
.page{
    height: 300px;
}
.page img{
    width: 100%;
    height: 270px;
    border-bottom: 1px solid #797979;
    border-radius: 10px;

}
.colors{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.colors div{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #797979;
}
.page-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1953da;
}
.page-name h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.page-visit{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #339AF0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(39, 153, 219, 0.75);
}
.page-visit i{
    color: #339AF0;
}
/* ----------------------------------------Querys------------------------------------------ */

@media (max-width: 768px) {
    .themes p{
        width: 90%;
    }
}
