.back {
	position: fixed;
	z-index: -2;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(0, #120c56, #000000);
}

.stars {
	position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:
		15px 428px white,
		154px 76px white,
		304px 741px white,
		504px 494px white,
		615px 109px white,
		767px 639px white,
		869px 347px white,
		989px 633px white,
		1123px 203px white,
		1227px 379px white,

		20px 25px white,
		155px 422px white,
		358px 413px white,
		518px 129px white,
		632px 193px white,
		778px 470px white,
		875px 396px white,
		993px 279px white,
		1128px 338px white,
		1230px 29px white,

		49px 665px white,
		183px 477px white,
		370px 284px white,
		522px 620px white,
		640px 142px white,
		817px 221px white,
		890px 659px white,
		40px 131px white,
		1145px 294px white,
		1256px 468px white,

		60px 309px white,
		201px 130px white,
		371px 69px white,
		539px 408px white,
		658px 637px white,
		824px 491px white,
		957px 212px white,
		015px 181px white,
		1146px 698px white,
		1267px 207px white,

		64px 43px white,
		206px 488px white,
		410px 108px white,
		556px 98px white,
		687px 56px white,
		829px 336px white,
		959px 632px white,
		1027px 16px white,
		1156px 133px white,
		1269px 226px white,

		106px 176px white,
		228px 581px white,
		429px 103px white,
		579px 224px white,
		706px 120px white,
		834px 177px white,
		962px 538px white,
		1048px 434px white,
		1168px 487px white,
		1279px 451px white,

		141px 365px white,
		235px 196px white,
		438px 387px white,
		581px 641px white,
		743px 424px white,
		852px 315px white,
		964px 570px white,
		1051px 744px white,
		1180px 209px white,
		1282px 536px white,


		146px 365px white,
		244px 196px white,
		450px 387px white,
		582px 641px white,
		744px 424px white,
		854px 315px white,
		970px 570px white,
		105px 744px white,
		119px 209px white,
		129px 536px white,

		149px 456px white,
		289px 86px white,
		476px 307px white,
		586px 725px white,
		747px 70px white,
		861px 430px white,
		971px 512px white,
		1062px 332px white,
		1218px 647px white,
		1302px 643px white,

		150px 327px white,
		290px 763px white,
		493px 484px white,
		592px 132px white,
		766px 278px white,
		865px 604px white,
		975px 94px white,
		1077px 317px white,
		1222px 585px white,
		1317px 514px white,

		504px 405px white,
		904px 43px white,
		971px 387px white,
		639px 761px white,
		585px 552px white,
		944px 412px white,
		138px 731px white,
		859px 314px white,
		759px 732px white,
		259px 585px white,
		1259px 628px white,
		190px 664px white,
		1064px 218px white,
		1226px 499px white,
		1119px 720px white,
		570px 572px white,
		277px 734px white,
		389px 441px white,
		255px 661px white,
		953px 173px white,

		1286px 609px white,
		1345px 497px white,
		1338px 378px white,
		1264px 154px white,
		1305px 571px white,
		1355px 53px white,
		1274px 675px white,
		1283px 324px white,
		1267px 476px white,
		1291px 84px white,
		1296px 616px white,
		1273px 678px white,
		1378px 243px white,
		1377px 220px white,
		1250px 593px white,
		1318px 289px white,
		1253px 112px white,
		1380px 477px white,
		1282px 485px white,
		1325px 739px white,


		641px 448px white,
		577px 745px white,
		1108px 766px white,
		285px 49px white,
		490px 47px white,
		537px 310px white,
		608px 82px white,
		1311px 629px white,
		1032px 36px white,
		631px 153px white,
		663px 328px white,
		1183px 764px white,
		149px 727px white,
		923px 426px white,
		1061px 444px white,
		939px 257px white,
		703px 641px white,
		453px 731px white,
		1193px 554px white,
		777px 733px white,
		689px 346px white,
		1244px 421px white,
		976px 475px white,
		1301px 230px white,
		843px 459px white,
		121px 750px white,
		47px 752px white,
		848px 702px white,
		91px 402px white,
		1023px 159px white,
		495px 160px white,
		810px 538px white,
		933px 560px white,
		803px 689px white,
		215px 50px white,
		559px 16px white,
		774px 712px white,
		371px 356px white,
		941px 767px white,
		1089px 572px white,
		869px 318px white,
		907px 141px white,
		977px 686px white,
		890px 467px white,
		860px 522px white,
		370px 490px white,
		428px 450px white,
		1268px 367px white,
		311px 758px white,
		1239px 651px white,
		1016px 334px white,
		1348px 366px white,
		551px 640px white,
		1189px 240px white,
		1149px 140px white,
		964px 289px white,
		1080px 86px white,
		1339px 270px white,
		1154px 243px white,
		13px 332px white,
		609px 429px white,
		1345px 681px white,
		546px 543px white,
		580px 597px white,
		326px 20px white,
		367px 703px white,
		1125px 147px white,
		396px 377px white,
		1350px 481px white,
		656px 188px white,
		1070px 57px white,
		1310px 442px white,
		821px 676px white,
		784px 452px white,
		1283px 557px white,
		678px 299px white,
		35px 331px white,
		478px 336px white,
		1046px 144px white,
		458px 176px white,
		388px 647px white,
		1324px 297px white,
		36px 52px white,
		1134px 21px white,
		602px 501px white,
		971px 220px white,
		1014px 796px white,
		246px 770px white,
		1363px 415px white,
		962px 693px white,
		1196px 409px white,
		845px 35px white,
		986px 707px white,
		1190px 480px white,
		1299px 458px white,
		433px 505px white,
		1030px 322px white,
		712px 657px white,
		727px 414px white,
		1105px 795px white,
		815px 695px white,
		239px 424px white,
		622px 93px white,
		362px 434px white,
		565px 643px white,
		967px 735px white,
		756px 574px white,
		762px 380px white,
		522px 523px white,
		198px 462px white,
		855px 521px white,
		400px 79px white,
		194px 91px white,
		840px 76px white,
		164px 416px white,
		670px 164px white,
		324px 136px white,
		538px 492px white,
		347px 631px white,
		1250px 741px white,
		909px 738px white,
		666px 212px white,
		930px 497px white,
		1052px 762px white,
		341px 249px white,
		510px 393px white,
		150px 287px white,
		472px 634px white,
		68px 626px white,
		914px 488px white,
		128px 118px white,
		1051px 68px white,
		638px 682px white,
		1369px 61px white,
		833px 466px white,
		356px 390px white,
		511px 600px white,
		632px 784px white,
		985px 171px white,
		1004px 198px white,
		1241px 669px white,
		151px 571px white,
		778px 169px white,
		1114px 282px white,
		323px 69px white,
		685px 633px white,
		403px 269px white,
		760px 649px white,
		136px 635px white,
		1228px 96px white,
		30px 84px white,
		189px 760px white,
		715px 685px white,
		1247px 352px white,
		1044px 798px white,
		679px 499px white,
		605px 340px white,
		1096px 653px white,
		408px 315px white,
		994px 89px white,
		1021px 256px white,
		147px 379px white,
		1249px 102px white,
		1133px 170px white,
		469px 385px white,
		987px 783px white,
		45px 146px white,
		368px 23px white,
		304px 588px white,
		456px 419px white,
		274px 172px white,
		1344px 403px white,
		673px 561px white,
		73px 624px white,
		168px 785px white,
		954px 399px white,
		525px 616px white,
		931px 181px white,
		398px 26px white,
		752px 120px white,
		534px 646px white,
		1107px 654px white,
		1056px 797px white,
		219px 736px white,
		1045px 435px white,
		1091px 720px white,
		1322px 524px white,
		1188px 185px white,
		576px 252px white,
		463px 537px white,
		814px 32px white,
		556px 420px white,
		10px 623px white,
		1073px 264px white,
		662px 590px white,
		320px 124px white,
		755px 562px white,
		1377px 461px white,
		813px 63px white,
		330px 704px white;
	animation: anim-stars 60s linear infinite;



}

.stars::after {
	content: " ";
	position: absolute;
	top: 800px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:
		15px 428px white,
		154px 76px white,
		304px 741px white,
		504px 494px white,
		615px 109px white,
		767px 639px white,
		869px 347px white,
		989px 633px white,
		1123px 203px white,
		1227px 379px white,

		20px 25px white,
		155px 422px white,
		358px 413px white,
		518px 129px white,
		632px 193px white,
		778px 470px white,
		875px 396px white,
		993px 279px white,
		1128px 338px white,
		1230px 29px white,

		49px 665px white,
		183px 477px white,
		370px 284px white,
		522px 620px white,
		640px 142px white,
		817px 221px white,
		890px 659px white,
		40px 131px white,
		1145px 294px white,
		1256px 468px white,

		60px 309px white,
		201px 130px white,
		371px 69px white,
		539px 408px white,
		658px 637px white,
		824px 491px white,
		957px 212px white,
		015px 181px white,
		1146px 698px white,
		1267px 207px white,

		64px 43px white,
		206px 488px white,
		410px 108px white,
		556px 98px white,
		687px 56px white,
		829px 336px white,
		959px 632px white,
		1027px 16px white,
		1156px 133px white,
		1269px 226px white,

		106px 176px white,
		228px 581px white,
		429px 103px white,
		579px 224px white,
		706px 120px white,
		834px 177px white,
		962px 538px white,
		1048px 434px white,
		1168px 487px white,
		1279px 451px white,

		141px 365px white,
		235px 196px white,
		438px 387px white,
		581px 641px white,
		743px 424px white,
		852px 315px white,
		964px 570px white,
		1051px 744px white,
		1180px 209px white,
		1282px 536px white,


		146px 365px white,
		244px 196px white,
		450px 387px white,
		582px 641px white,
		744px 424px white,
		854px 315px white,
		970px 570px white,
		105px 744px white,
		119px 209px white,
		129px 536px white,

		149px 456px white,
		289px 86px white,
		476px 307px white,
		586px 725px white,
		747px 70px white,
		861px 430px white,
		971px 512px white,
		1062px 332px white,
		1218px 647px white,
		1302px 643px white,

		150px 327px white,
		290px 763px white,
		493px 484px white,
		592px 132px white,
		766px 278px white,
		865px 604px white,
		975px 94px white,
		1077px 317px white,
		1222px 585px white,
		1317px 514px white,

		504px 405px white,
		904px 43px white,
		971px 387px white,
		639px 761px white,
		585px 552px white,
		944px 412px white,
		138px 731px white,
		859px 314px white,
		759px 732px white,
		259px 585px white,
		1259px 628px white,
		190px 664px white,
		1064px 218px white,
		1226px 499px white,
		1119px 720px white,
		570px 572px white,
		277px 734px white,
		389px 441px white,
		255px 661px white,
		953px 173px white,

		1286px 609px white,
		1345px 497px white,
		1338px 378px white,
		1264px 154px white,
		1305px 571px white,
		1355px 53px white,
		1274px 675px white,
		1283px 324px white,
		1267px 476px white,
		1291px 84px white,
		1296px 616px white,
		1273px 678px white,
		1378px 243px white,
		1377px 220px white,
		1250px 593px white,
		1318px 289px white,
		1253px 112px white,
		1380px 477px white,
		1282px 485px white,
		1325px 739px white,
		641px 448px white,
		577px 745px white,
		1108px 766px white,
		285px 49px white,
		490px 47px white,
		537px 310px white,
		608px 82px white,
		1311px 629px white,
		1032px 36px white,
		631px 153px white,
		663px 328px white,
		1183px 764px white,
		149px 727px white,
		923px 426px white,
		1061px 444px white,
		939px 257px white,
		703px 641px white,
		453px 731px white,
		1193px 554px white,
		777px 733px white,
		689px 346px white,
		1244px 421px white,
		976px 475px white,
		1301px 230px white,
		843px 459px white,
		121px 750px white,
		47px 752px white,
		848px 702px white,
		91px 402px white,
		1023px 159px white,
		495px 160px white,
		810px 538px white,
		933px 560px white,
		803px 689px white,
		215px 50px white,
		559px 16px white,
		774px 712px white,
		371px 356px white,
		941px 767px white,
		1089px 572px white,
		869px 318px white,
		907px 141px white,
		977px 686px white,
		890px 467px white,
		860px 522px white,
		370px 490px white,
		428px 450px white,
		1268px 367px white,
		311px 758px white,
		1239px 651px white,
		1016px 334px white,
		1348px 366px white,
		551px 640px white,
		1189px 240px white,
		1149px 140px white,
		964px 289px white,
		1080px 86px white,
		1339px 270px white,
		1154px 243px white,
		13px 332px white,
		609px 429px white,
		1345px 681px white,
		546px 543px white,
		580px 597px white,
		326px 20px white,
		367px 703px white,
		1125px 147px white,
		396px 377px white,
		1350px 481px white,
		656px 188px white,
		1070px 57px white,
		1310px 442px white,
		821px 676px white,
		784px 452px white,
		1283px 557px white,
		678px 299px white,
		35px 331px white,
		478px 336px white,
		1046px 144px white,
		458px 176px white,
		388px 647px white,
		1324px 297px white,
		36px 52px white,
		1134px 21px white,
		602px 501px white,
		971px 220px white,
		1014px 796px white,
		246px 770px white,
		1363px 415px white,
		962px 693px white,
		1196px 409px white,
		845px 35px white,
		986px 707px white,
		1190px 480px white,
		1299px 458px white,
		433px 505px white,
		1030px 322px white,
		712px 657px white,
		727px 414px white,
		1105px 795px white,
		815px 695px white,
		239px 424px white,
		622px 93px white,
		362px 434px white,
		565px 643px white,
		967px 735px white,
		756px 574px white,
		762px 380px white,
		522px 523px white,
		198px 462px white,
		855px 521px white,
		400px 79px white,
		194px 91px white,
		840px 76px white,
		164px 416px white,
		670px 164px white,
		324px 136px white,
		538px 492px white,
		347px 631px white,
		1250px 741px white,
		909px 738px white,
		666px 212px white,
		930px 497px white,
		1052px 762px white,
		341px 249px white,
		510px 393px white,
		150px 287px white,
		472px 634px white,
		68px 626px white,
		914px 488px white,
		128px 118px white,
		1051px 68px white,
		638px 682px white,
		1369px 61px white,
		833px 466px white,
		356px 390px white,
		511px 600px white,
		632px 784px white,
		985px 171px white,
		1004px 198px white,
		1241px 669px white,
		151px 571px white,
		778px 169px white,
		1114px 282px white,
		323px 69px white,
		685px 633px white,
		403px 269px white,
		760px 649px white,
		136px 635px white,
		1228px 96px white,
		30px 84px white,
		189px 760px white,
		715px 685px white,
		1247px 352px white,
		1044px 798px white,
		679px 499px white,
		605px 340px white,
		1096px 653px white,
		408px 315px white,
		994px 89px white,
		1021px 256px white,
		147px 379px white,
		1249px 102px white,
		1133px 170px white,
		469px 385px white,
		987px 783px white,
		45px 146px white,
		368px 23px white,
		304px 588px white,
		456px 419px white,
		274px 172px white,
		1344px 403px white,
		673px 561px white,
		73px 624px white,
		168px 785px white,
		954px 399px white,
		525px 616px white,
		931px 181px white,
		398px 26px white,
		752px 120px white,
		534px 646px white,
		1107px 654px white,
		1056px 797px white,
		219px 736px white,
		1045px 435px white,
		1091px 720px white,
		1322px 524px white,
		1188px 185px white,
		576px 252px white,
		463px 537px white,
		814px 32px white,
		556px 420px white,
		10px 623px white,
		1073px 264px white,
		662px 590px white,
		320px 124px white,
		755px 562px white,
		1377px 461px white,
		813px 63px white,
		330px 704px white;


}

.stars2 {
	position: relative;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	box-shadow:

		1187px 432px white,
		718px 668px white,
		1103px 134px white,
		1233px 470px white,
		377px 775px white,

		325px 697px white,
		775px 362px white,
		223px 314px white,
		745px 277px white,
		338px 490px white,

		842px 449px white,
		1116px 472px white,
		469px 324px white,
		20px 503px white,
		1137px 467px white,

		463px 714px white,
		1119px 656px white,
		1104px 578px white,
		1075px 585px white,
		719px 131px white,


		1046px 339px white,
		30px 41px white,
		978px 325px white,
		624px 647px white,
		22px 229px white,

		175px 595px white,
		482px 415px white,
		1153px 166px white,
		630px 561px white,
		903px 721px white,
		320px 389px white,
		505px 335px white,
		219px 420px white,
		542px 235px white,
		1034px 236px white,

		501px 194px white,
		884px 723px white,
		1237px 124px white,
		670px 171px white,
		1047px 200px white,

		357px 438px white,
		735px 761px white,
		813px 112px white,
		1260px 426px white,
		1208px 217px white,

		355px 126px white,
		101px 193px white,
		63px 358px white,
		729px 115px white,
		1313px 756px white,

		1316px 654px white,
		736px 244px white,
		1102px 355px white,
		1144px 41px white,
		796px 754px white,
		823px 339px white,
		1274px 735px white,
		605px 307px white,
		1326px 158px white,
		532px 180px white,
		1081px 445px white,
		656px 235px white,
		873px 79px white,
		36px 633px white,
		303px 632px white,
		357px 310px white,
		692px 131px white,
		1083px 537px white,
		179px 228px white,
		377px 281px white,
		1275px 250px white,
		1307px 10px white,
		530px 643px white,
		1046px 190px white,
		53px 399px white,
		100px 473px white,
		791px 727px white,
		1231px 353px white,
		1278px 770px white,
		1212px 499px white,
		917px 17px white,
		760px 625px white,
		84px 322px white,
		1020px 45px white,
		260px 447px white,
		966px 580px white,
		1111px 30px white,
		296px 501px white,
		11px 253px white,
		166px 455px white,
		129px 372px white,
		446px 505px white,
		1348px 299px white,
		144px 12px white,
		407px 104px white,
		1186px 406px white,
		1009px 564px white,
		1151px 514px white,
		584px 398px white,
		358px 15px white,
		953px 34px white,
		949px 465px white,
		607px 587px white,
		933px 754px white,
		1208px 380px white,
		252px 326px white,
		834px 357px white,
		75px 280px white,
		315px 129px white,
		1325px 661px white,
		223px 396px white,
		503px 220px white,
		385px 37px white,
		439px 746px white,
		822px 713px white,
		647px 619px white,
		888px 328px white,
		1184px 745px white,
		905px 101px white,
		517px 314px white,
		789px 176px white,
		1001px 91px white,
		956px 417px white,
		1305px 336px white,
		316px 501px white,
		1018px 379px white,
		685px 113px white,
		41px 413px white,
		229px 668px white,
		549px 235px white,
		46px 140px white,
		1054px 500px white,
		929px 327px white,
		285px 10px white,
		309px 609px white,
		632px 438px white,
		247px 649px white,
		138px 262px white,
		337px 51px white,
		1135px 124px white,
		1009px 163px white,
		694px 405px white,
		426px 738px white,
		1039px 205px white,
		103px 204px white,
		692px 540px white,
		533px 523px white,
		842px 522px white,
		1003px 59px white,
		760px 385px white,
		828px 474px white,
		765px 596px white,
		1290px 154px white,
		1264px 288px white,
		475px 360px white,
		797px 315px white,
		697px 582px white,
		283px 246px white,
		418px 504px white,
		352px 55px white,
		944px 187px white,
		157px 172px white,
		425px 107px white,
		482px 670px white,
		518px 54px white,
		968px 26px white,
		876px 78px white,
		729px 614px white,
		485px 244px white,
		762px 662px white,
		860px 14px white,
		1092px 194px white,
		554px 479px white,
		1097px 690px white,
		405px 446px white,
		36px 588px white,
		1189px 42px white,
		167px 492px white,
		456px 108px white,
		525px 191px white,
		969px 380px white,
		1313px 66px white,
		767px 48px white,
		600px 155px white,
		449px 759px white,
		1256px 512px white,
		150px 731px white,
		82px 698px white,
		255px 384px white,
		477px 726px white,
		274px 544px white,
		78px 572px white,
		1047px 64px white,
		1035px 57px white,
		879px 149px white,
		165px 271px white,
		720px 624px white,
		1186px 58px white,
		465px 679px white,
		321px 650px white,
		400px 467px white,
		1253px 495px white,
		728px 87px white,
		603px 724px white,
		638px 88px white,
		578px 552px white,
		1280px 711px white,
		648px 381px white,
		396px 304px white,
		370px 482px white,

		239px 41px white,
		529px 274px white,
		1153px 283px white,
		331px 591px white,
		994px 96px white,
		132px 620px white,
		467px 46px white,
		748px 73px white,
		192px 433px white,
		207px 758px white,
		120px 371px white,
		1025px 751px white,
		1091px 602px white,
		216px 35px white,
		1298px 767px white,
		895px 693px white,
		552px 288px white,
		270px 181px white,
		328px 281px white,
		771px 559px white,
		999px 321px white,
		1115px 443px white,
		109px 27px white,
		615px 574px white,
		760px 556px white,
		233px 427px white,
		658px 518px white,
		983px 245px white,
		1117px 771px white,
		441px 389px white,
		1348px 509px white,
		853px 19px white,
		1360px 227px white,
		789px 640px white,
		731px 269px white,
		667px 622px white,
		411px 401px white,
		337px 183px white,
		865px 189px white,
		62px 710px white,
		473px 788px white,
		437px 605px white,
		1200px 90px white,
		1306px 295px white,
		1305px 606px white,
		367px 224px white,
		966px 251px white,
		630px 78px white,
		258px 496px white,
		1182px 284px white,
		490px 134px white,
		708px 136px white,
		1353px 701px white,
		1075px 118px white,
		858px 649px white,
		1134px 24px white,
		181px 214px white,
		194px 426px white,
		874px 63px white,
		178px 178px white,
		71px 647px white,
		1178px 358px white,
		732px 494px white,
		736px 53px white,
		1354px 71px white,
		1108px 39px white,
		28px 569px white,
		1077px 611px white,
		167px 385px white,
		1183px 88px white,
		496px 764px white,
		1361px 521px white,
		843px 298px white,
		806px 152px white,
		795px 28px white,
		1346px 338px white,
		208px 404px white,
		737px 207px white,
		449px 285px white,
		1195px 113px white,
		680px 728px white,
		533px 769px white,
		482px 60px white,
		227px 560px white,
		1287px 85px white,
		698px 98px white,
		954px 795px white,
		1008px 686px white,
		30px 651px white,
		98px 461px white,
		1128px 243px white,
		115px 296px white,
		702px 743px white,
		1213px 66px white,
		568px 158px white,
		757px 516px white,
		1262px 290px white,
		321px 397px white,
		519px 746px white,
		976px 365px white,
		648px 420px white,
		172px 468px white,
		1065px 145px white,
		204px 198px white,
		1198px 469px white,
		12px 543px white,
		41px 738px white,
		572px 744px white,
		408px 692px white,
		1363px 137px white,
		846px 759px white,
		597px 739px white,
		571px 679px white,
		457px 122px white,
		1170px 599px white,
		142px 621px white,
		149px 148px white,
		723px 195px white,
		31px 538px white,
		962px 625px white,
		387px 259px white,
		1214px 221px white,
		1094px 255px white,
		815px 299px white,
		398px 727px white,
		245px 497px white,
		870px 29px white,
		1347px 775px white,
		973px 616px white,
		188px 641px white,
		1202px 491px white,
		996px 324px white,
		728px 353px white,
		901px 124px white,
		254px 674px white,
		573px 261px white,
		940px 225px white,
		1337px 415px white,
		347px 294px white,
		502px 546px white,
		720px 37px white,
		714px 313px white,
		779px 352px white,
		1201px 536px white,
		1190px 567px white,
		416px 423px white,
		653px 114px white,
		530px 476px white,
		158px 97px white,
		485px 753px white,
		96px 473px white,
		665px 38px white,
		1319px 449px white,
		1216px 144px white,
		366px 199px white,
		493px 174px white,
		1023px 570px white,
		137px 781px white,
		161px 272px white,
		851px 500px white,
		550px 698px white,
		1369px 211px white,
		1021px 81px white,
		1343px 230px white,
		1356px 340px white,
		848px 205px white,
		400px 390px white,
		11px 398px white,
		200px 671px white,
		1027px 774px white,
		776px 416px white,
		580px 222px white,
		1225px 653px white,
		512px 216px white,
		1092px 228px white,
		957px 667px white,
		1221px 749px white,
		1000px 434px white,
		124px 258px white,
		679px 475px white,
		50px 112px white,
		809px 91px white,
		294px 268px white,
		1164px 412px white,
		1299px 286px white,
		1311px 75px white,
		1142px 176px white,
		1281px 229px white,
		176px 419px white,
		948px 438px white,
		484px 510px white,
		1177px 650px white,
		574px 581px white,
		1334px 429px white,
		516px 405px white,
		267px 346px white,
		450px 520px white,
		1057px 206px white,
		715px 65px white,
		1317px 735px white,

		477px 418px whitesmoke,
		1237px 102px whitesmoke,
		808px 76px whitesmoke,
		775px 138px whitesmoke,
		321px 343px whitesmoke,
		849px 602px whitesmoke,
		692px 214px whitesmoke,
		305px 670px whitesmoke,
		32px 781px whitesmoke,
		27px 312px whitesmoke,
		1246px 254px whitesmoke,
		1352px 326px whitesmoke,
		1292px 274px whitesmoke,
		262px 577px whitesmoke,
		581px 428px whitesmoke,
		521px 267px whitesmoke,
		239px 725px whitesmoke,
		920px 301px whitesmoke,
		814px 520px whitesmoke,
		943px 777px whitesmoke,
		925px 792px whitesmoke,
		574px 70px whitesmoke,
		353px 517px whitesmoke,
		1335px 402px whitesmoke,
		1235px 137px whitesmoke,
		1152px 293px whitesmoke,
		571px 710px whitesmoke,
		695px 300px whitesmoke,
		1160px 210px whitesmoke,
		259px 144px whitesmoke,
		795px 706px whitesmoke,
		189px 85px whitesmoke,
		1091px 35px whitesmoke,
		895px 631px whitesmoke,
		688px 156px whitesmoke,
		974px 642px whitesmoke,
		1298px 569px whitesmoke,
		275px 13px whitesmoke,
		563px 380px whitesmoke,
		1075px 606px whitesmoke,
		59px 622px whitesmoke,
		862px 487px whitesmoke,
		611px 549px whitesmoke,
		551px 637px whitesmoke,
		1205px 117px whitesmoke,
		1263px 698px whitesmoke,
		1299px 89px whitesmoke,
		231px 130px whitesmoke,
		334px 473px whitesmoke,
		980px 779px whitesmoke,
		1378px 570px whitesmoke,
		1052px 578px whitesmoke,
		1228px 411px whitesmoke,
		564px 427px whitesmoke,
		1231px 268px whitesmoke,
		899px 377px whitesmoke,
		394px 341px whitesmoke,
		1215px 501px whitesmoke,
		921px 383px whitesmoke,
		1157px 728px whitesmoke,
		773px 647px whitesmoke,
		1059px 404px whitesmoke,
		840px 660px whitesmoke,
		463px 333px whitesmoke,
		1005px 397px whitesmoke,
		666px 795px whitesmoke,
		1110px 94px whitesmoke,
		1017px 797px whitesmoke,
		605px 233px whitesmoke,
		1084px 390px whitesmoke,
		1274px 110px whitesmoke,
		623px 715px whitesmoke,
		1289px 732px whitesmoke,
		1286px 591px whitesmoke,
		331px 23px whitesmoke,
		451px 691px whitesmoke,
		622px 707px whitesmoke,
		916px 107px whitesmoke,
		1271px 245px whitesmoke,
		910px 775px whitesmoke,
		29px 403px whitesmoke,
		1068px 221px whitesmoke,
		245px 189px whitesmoke,
		1368px 359px whitesmoke,
		298px 435px whitesmoke,
		109px 530px whitesmoke,
		357px 95px whitesmoke,
		1357px 322px whitesmoke,
		110px 513px whitesmoke,
		516px 625px whitesmoke,
		73px 234px whitesmoke,
		1226px 71px whitesmoke,
		1194px 159px whitesmoke,
		1144px 385px whitesmoke,
		1300px 27px whitesmoke,
		1374px 773px whitesmoke,
		595px 730px whitesmoke,
		755px 295px whitesmoke,
		529px 152px whitesmoke,
		829px 655px whitesmoke,
		395px 172px whitesmoke,
		1241px 452px whitesmoke,
		1209px 41px whitesmoke,
		675px 674px whitesmoke,
		1089px 746px whitesmoke,
		268px 31px whitesmoke,
		1165px 692px whitesmoke,
		576px 371px whitesmoke,
		852px 129px whitesmoke,
		881px 323px whitesmoke,
		642px 121px whitesmoke,
		1317px 405px whitesmoke,
		124px 547px whitesmoke,
		1164px 399px whitesmoke,
		383px 286px whitesmoke,
		951px 476px whitesmoke,
		782px 714px whitesmoke,
		355px 551px whitesmoke,
		615px 321px whitesmoke,
		1121px 241px whitesmoke,
		984px 46px whitesmoke,
		315px 548px whitesmoke,
		1129px 659px whitesmoke,
		771px 544px whitesmoke,
		700px 225px whitesmoke,
		522px 209px whitesmoke,
		877px 49px whitesmoke,
		816px 613px whitesmoke,
		1111px 652px whitesmoke,
		470px 592px whitesmoke,
		50px 375px whitesmoke,
		1162px 451px whitesmoke,
		1207px 656px whitesmoke,
		39px 186px whitesmoke,
		219px 632px whitesmoke,
		205px 388px whitesmoke,
		249px 337px whitesmoke,
		1336px 589px whitesmoke,
		510px 665px whitesmoke,
		554px 350px whitesmoke,
		1288px 753px whitesmoke,
		1251px 345px whitesmoke,
		1229px 701px whitesmoke,
		282px 785px whitesmoke,
		168px 774px whitesmoke,
		1130px 439px whitesmoke,
		730px 616px whitesmoke,
		1007px 648px whitesmoke,
		1070px 184px whitesmoke,
		750px 63px whitesmoke,
		180px 442px whitesmoke,
		1247px 64px whitesmoke,
		1006px 437px whitesmoke,
		160px 113px whitesmoke,
		1309px 182px whitesmoke,
		971px 727px whitesmoke,
		185px 431px whitesmoke,
		1249px 609px whitesmoke,
		811px 285px whitesmoke,
		662px 344px whitesmoke,
		965px 697px whitesmoke,
		1290px 33px whitesmoke,
		438px 108px whitesmoke,
		752px 526px whitesmoke,
		396px 244px whitesmoke,
		1057px 414px whitesmoke,
		370px 197px whitesmoke,
		142px 488px whitesmoke,
		466px 141px whitesmoke,
		1284px 16px whitesmoke,
		624px 726px whitesmoke,
		407px 522px whitesmoke,
		1282px 643px whitesmoke,
		1254px 279px whitesmoke,
		323px 471px whitesmoke,
		969px 702px whitesmoke,
		586px 772px whitesmoke,
		190px 317px whitesmoke,
		975px 132px whitesmoke,
		491px 379px whitesmoke,
		756px 754px whitesmoke,
		303px 38px whitesmoke,
		270px 55px whitesmoke,
		23px 784px whitesmoke,
		1001px 178px whitesmoke,
		1182px 563px whitesmoke,
		740px 472px whitesmoke,
		532px 510px whitesmoke,
		84px 441px whitesmoke,
		1310px 695px whitesmoke,
		1049px 561px whitesmoke,
		289px 796px whitesmoke,
		183px 376px whitesmoke,
		673px 294px whitesmoke,
		654px 114px whitesmoke,
		616px 737px whitesmoke,
		241px 508px whitesmoke,
		354px 425px whitesmoke,
		721px 12px whitesmoke,
		213px 56px whitesmoke;

	animation: anim-stars 40s linear infinite;
}

.stars2::after {
	content: " ";
	position: absolute;
	top: 800px;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	box-shadow:
		1187px 432px white,
		718px 668px white,
		1103px 134px white,
		1233px 470px white,
		377px 775px white,

		325px 697px white,
		775px 362px white,
		223px 314px white,
		745px 277px white,
		338px 490px white,

		842px 449px white,
		1116px 472px white,
		469px 324px white,
		20px 503px white,
		1137px 467px white,

		463px 714px white,
		1119px 656px white,
		1104px 578px white,
		1075px 585px white,
		719px 131px white,


		1046px 339px white,
		30px 41px white,
		978px 325px white,
		624px 647px white,
		22px 229px white,

		175px 595px white,
		482px 415px white,
		1153px 166px white,
		630px 561px white,
		903px 721px white,
		320px 389px white,
		505px 335px white,
		219px 420px white,
		542px 235px white,
		1034px 236px white,

		501px 194px white,
		884px 723px white,
		1237px 124px white,
		670px 171px white,
		1047px 200px white,

		357px 438px white,
		735px 761px white,
		813px 112px white,
		1260px 426px white,
		1208px 217px white,

		355px 126px white,
		101px 193px white,
		63px 358px white,
		729px 115px white,
		1313px 756px white,

		1316px 654px white,
		736px 244px white,
		1102px 355px white,
		1144px 41px white,
		796px 754px white,
		823px 339px white,
		1274px 735px white,
		605px 307px white,
		1326px 158px white,
		532px 180px white,
		1081px 445px white,
		656px 235px white,
		873px 79px white,
		36px 633px white,
		303px 632px white,
		357px 310px white,
		692px 131px white,
		1083px 537px white,
		179px 228px white,
		377px 281px white,
		1275px 250px white,
		1307px 10px white,
		530px 643px white,
		1046px 190px white,
		53px 399px white,
		100px 473px white,
		791px 727px white,
		1231px 353px white,
		1278px 770px white,
		1212px 499px white,
		917px 17px white,
		760px 625px white,
		84px 322px white,
		1020px 45px white,
		260px 447px white,
		966px 580px white,
		1111px 30px white,
		296px 501px white,
		11px 253px white,
		166px 455px white,
		129px 372px white,
		446px 505px white,
		1348px 299px white,
		144px 12px white,
		407px 104px white,
		1186px 406px white,
		1009px 564px white,
		1151px 514px white,
		584px 398px white,
		358px 15px white,
		953px 34px white,
		949px 465px white,
		607px 587px white,
		933px 754px white,
		1208px 380px white,
		252px 326px white,
		834px 357px white,
		75px 280px white,
		315px 129px white,
		1325px 661px white,


		223px 396px white,
		503px 220px white,
		385px 37px white,
		439px 746px white,
		822px 713px white,
		647px 619px white,
		888px 328px white,
		1184px 745px white,
		905px 101px white,
		517px 314px white,
		789px 176px white,
		1001px 91px white,
		956px 417px white,
		1305px 336px white,
		316px 501px white,
		1018px 379px white,
		685px 113px white,
		41px 413px white,
		229px 668px white,
		549px 235px white,
		46px 140px white,
		1054px 500px white,
		929px 327px white,
		285px 10px white,
		309px 609px white,
		632px 438px white,
		247px 649px white,
		138px 262px white,
		337px 51px white,
		1135px 124px white,
		1009px 163px white,
		694px 405px white,
		426px 738px white,
		1039px 205px white,
		103px 204px white,
		692px 540px white,
		533px 523px white,
		842px 522px white,
		1003px 59px white,
		760px 385px white,
		828px 474px white,
		765px 596px white,
		1290px 154px white,
		1264px 288px white,
		475px 360px white,
		797px 315px white,
		697px 582px white,
		283px 246px white,
		418px 504px white,
		352px 55px white,
		944px 187px white,
		157px 172px white,
		425px 107px white,
		482px 670px white,
		518px 54px white,
		968px 26px white,
		876px 78px white,
		729px 614px white,
		485px 244px white,
		762px 662px white,
		860px 14px white,
		1092px 194px white,
		554px 479px white,
		1097px 690px white,
		405px 446px white,
		36px 588px white,
		1189px 42px white,
		167px 492px white,
		456px 108px white,
		525px 191px white,
		969px 380px white,
		1313px 66px white,
		767px 48px white,
		600px 155px white,
		449px 759px white,
		1256px 512px white,
		150px 731px white,
		82px 698px white,
		255px 384px white,
		477px 726px white,
		274px 544px white,
		78px 572px white,
		1047px 64px white,
		1035px 57px white,
		879px 149px white,
		165px 271px white,
		720px 624px white,
		1186px 58px white,
		465px 679px white,
		321px 650px white,
		400px 467px white,
		1253px 495px white,
		728px 87px white,
		603px 724px white,
		638px 88px white,
		578px 552px white,
		1280px 711px white,
		648px 381px white,
		396px 304px white,
		370px 482px white,


		239px 41px white,
		529px 274px white,
		1153px 283px white,
		331px 591px white,
		994px 96px white,
		132px 620px white,
		467px 46px white,
		748px 73px white,
		192px 433px white,
		207px 758px white,
		120px 371px white,
		1025px 751px white,
		1091px 602px white,
		216px 35px white,
		1298px 767px white,
		895px 693px white,
		552px 288px white,
		270px 181px white,
		328px 281px white,
		771px 559px white,
		999px 321px white,
		1115px 443px white,
		109px 27px white,
		615px 574px white,
		760px 556px white,
		233px 427px white,
		658px 518px white,
		983px 245px white,
		1117px 771px white,
		441px 389px white,
		1348px 509px white,
		853px 19px white,
		1360px 227px white,
		789px 640px white,
		731px 269px white,
		667px 622px white,
		411px 401px white,
		337px 183px white,
		865px 189px white,
		62px 710px white,
		473px 788px white,
		437px 605px white,
		1200px 90px white,
		1306px 295px white,
		1305px 606px white,
		367px 224px white,
		966px 251px white,
		630px 78px white,
		258px 496px white,
		1182px 284px white,
		490px 134px white,
		708px 136px white,
		1353px 701px white,
		1075px 118px white,
		858px 649px white,
		1134px 24px white,
		181px 214px white,
		194px 426px white,
		874px 63px white,
		178px 178px white,
		71px 647px white,
		1178px 358px white,
		732px 494px white,
		736px 53px white,
		1354px 71px white,
		1108px 39px white,
		28px 569px white,
		1077px 611px white,
		167px 385px white,
		1183px 88px white,
		496px 764px white,
		1361px 521px white,
		843px 298px white,
		806px 152px white,
		795px 28px white,
		1346px 338px white,
		208px 404px white,
		737px 207px white,
		449px 285px white,
		1195px 113px white,
		680px 728px white,
		533px 769px white,
		482px 60px white,
		227px 560px white,
		1287px 85px white,
		698px 98px white,
		954px 795px white,
		1008px 686px white,
		30px 651px white,
		98px 461px white,
		1128px 243px white,
		115px 296px white,
		702px 743px white,
		1213px 66px white,
		568px 158px white,
		757px 516px white,
		1262px 290px white,
		321px 397px white,
		519px 746px white,
		976px 365px white,
		648px 420px white,
		172px 468px white,
		1065px 145px white,
		204px 198px white,
		1198px 469px white,
		12px 543px white,
		41px 738px white,
		572px 744px white,
		408px 692px white,
		1363px 137px white,
		846px 759px white,
		597px 739px white,
		571px 679px white,
		457px 122px white,
		1170px 599px white,
		142px 621px white,
		149px 148px white,
		723px 195px white,
		31px 538px white,
		962px 625px white,
		387px 259px white,
		1214px 221px white,
		1094px 255px white,
		815px 299px white,
		398px 727px white,
		245px 497px white,
		870px 29px white,
		1347px 775px white,
		973px 616px white,
		188px 641px white,
		1202px 491px white,
		996px 324px white,
		728px 353px white,
		901px 124px white,
		254px 674px white,
		573px 261px white,
		940px 225px white,
		1337px 415px white,
		347px 294px white,
		502px 546px white,
		720px 37px white,
		714px 313px white,
		779px 352px white,
		1201px 536px white,
		1190px 567px white,
		416px 423px white,
		653px 114px white,
		530px 476px white,
		158px 97px white,
		485px 753px white,
		96px 473px white,
		665px 38px white,
		1319px 449px white,
		1216px 144px white,
		366px 199px white,
		493px 174px white,
		1023px 570px white,
		137px 781px white,
		161px 272px white,
		851px 500px white,
		550px 698px white,
		1369px 211px white,
		1021px 81px white,
		1343px 230px white,
		1356px 340px white,
		848px 205px white,
		400px 390px white,
		11px 398px white,
		200px 671px white,
		1027px 774px white,
		776px 416px white,
		580px 222px white,
		1225px 653px white,
		512px 216px white,
		1092px 228px white,
		957px 667px white,
		1221px 749px white,
		1000px 434px white,
		124px 258px white,
		679px 475px white,
		50px 112px white,
		809px 91px white,
		294px 268px white,
		1164px 412px white,
		1299px 286px white,
		1311px 75px white,
		1142px 176px white,
		1281px 229px white,
		176px 419px white,
		948px 438px white,
		484px 510px white,
		1177px 650px white,
		574px 581px white,
		1334px 429px white,
		516px 405px white,
		267px 346px white,
		450px 520px white,
		1057px 206px white,
		715px 65px white,
		1317px 735px white,

		477px 418px whitesmoke,
		1237px 102px whitesmoke,
		808px 76px whitesmoke,
		775px 138px whitesmoke,
		321px 343px whitesmoke,
		849px 602px whitesmoke,
		692px 214px whitesmoke,
		305px 670px whitesmoke,
		32px 781px whitesmoke,
		27px 312px whitesmoke,
		1246px 254px whitesmoke,
		1352px 326px whitesmoke,
		1292px 274px whitesmoke,
		262px 577px whitesmoke,
		581px 428px whitesmoke,
		521px 267px whitesmoke,
		239px 725px whitesmoke,
		920px 301px whitesmoke,
		814px 520px whitesmoke,
		943px 777px whitesmoke,
		925px 792px whitesmoke,
		574px 70px whitesmoke,
		353px 517px whitesmoke,
		1335px 402px whitesmoke,
		1235px 137px whitesmoke,
		1152px 293px whitesmoke,
		571px 710px whitesmoke,
		695px 300px whitesmoke,
		1160px 210px whitesmoke,
		259px 144px whitesmoke,
		795px 706px whitesmoke,
		189px 85px whitesmoke,
		1091px 35px whitesmoke,
		895px 631px whitesmoke,
		688px 156px whitesmoke,
		974px 642px whitesmoke,
		1298px 569px whitesmoke,
		275px 13px whitesmoke,
		563px 380px whitesmoke,
		1075px 606px whitesmoke,
		59px 622px whitesmoke,
		862px 487px whitesmoke,
		611px 549px whitesmoke,
		551px 637px whitesmoke,
		1205px 117px whitesmoke,
		1263px 698px whitesmoke,
		1299px 89px whitesmoke,
		231px 130px whitesmoke,
		334px 473px whitesmoke,
		980px 779px whitesmoke,
		1378px 570px whitesmoke,
		1052px 578px whitesmoke,
		1228px 411px whitesmoke,
		564px 427px whitesmoke,
		1231px 268px whitesmoke,
		899px 377px whitesmoke,
		394px 341px whitesmoke,
		1215px 501px whitesmoke,
		921px 383px whitesmoke,
		1157px 728px whitesmoke,
		773px 647px whitesmoke,
		1059px 404px whitesmoke,
		840px 660px whitesmoke,
		463px 333px whitesmoke,
		1005px 397px whitesmoke,
		666px 795px whitesmoke,
		1110px 94px whitesmoke,
		1017px 797px whitesmoke,
		605px 233px whitesmoke,
		1084px 390px whitesmoke,
		1274px 110px whitesmoke,
		623px 715px whitesmoke,
		1289px 732px whitesmoke,
		1286px 591px whitesmoke,
		331px 23px whitesmoke,
		451px 691px whitesmoke,
		622px 707px whitesmoke,
		916px 107px whitesmoke,
		1271px 245px whitesmoke,
		910px 775px whitesmoke,
		29px 403px whitesmoke,
		1068px 221px whitesmoke,
		245px 189px whitesmoke,
		1368px 359px whitesmoke,
		298px 435px whitesmoke,
		109px 530px whitesmoke,
		357px 95px whitesmoke,
		1357px 322px whitesmoke,
		110px 513px whitesmoke,
		516px 625px whitesmoke,
		73px 234px whitesmoke,
		1226px 71px whitesmoke,
		1194px 159px whitesmoke,
		1144px 385px whitesmoke,
		1300px 27px whitesmoke,
		1374px 773px whitesmoke,
		595px 730px whitesmoke,
		755px 295px whitesmoke,
		529px 152px whitesmoke,
		829px 655px whitesmoke,
		395px 172px whitesmoke,
		1241px 452px whitesmoke,
		1209px 41px whitesmoke,
		675px 674px whitesmoke,
		1089px 746px whitesmoke,
		268px 31px whitesmoke,
		1165px 692px whitesmoke,
		576px 371px whitesmoke,
		852px 129px whitesmoke,
		881px 323px whitesmoke,
		642px 121px whitesmoke,
		1317px 405px whitesmoke,
		124px 547px whitesmoke,
		1164px 399px whitesmoke,
		383px 286px whitesmoke,
		951px 476px whitesmoke,
		782px 714px whitesmoke,
		355px 551px whitesmoke,
		615px 321px whitesmoke,
		1121px 241px whitesmoke,
		984px 46px whitesmoke,
		315px 548px whitesmoke,
		1129px 659px whitesmoke,
		771px 544px whitesmoke,
		700px 225px whitesmoke,
		522px 209px whitesmoke,
		877px 49px whitesmoke,
		816px 613px whitesmoke,
		1111px 652px whitesmoke,
		470px 592px whitesmoke,
		50px 375px whitesmoke,
		1162px 451px whitesmoke,
		1207px 656px whitesmoke,
		39px 186px whitesmoke,
		219px 632px whitesmoke,
		205px 388px whitesmoke,
		249px 337px whitesmoke,
		1336px 589px whitesmoke,
		510px 665px whitesmoke,
		554px 350px whitesmoke,
		1288px 753px whitesmoke,
		1251px 345px whitesmoke,
		1229px 701px whitesmoke,
		282px 785px whitesmoke,
		168px 774px whitesmoke,
		1130px 439px whitesmoke,
		730px 616px whitesmoke,
		1007px 648px whitesmoke,
		1070px 184px whitesmoke,
		750px 63px whitesmoke,
		180px 442px whitesmoke,
		1247px 64px whitesmoke,
		1006px 437px whitesmoke,
		160px 113px whitesmoke,
		1309px 182px whitesmoke,
		971px 727px whitesmoke,
		185px 431px whitesmoke,
		1249px 609px whitesmoke,
		811px 285px whitesmoke,
		662px 344px whitesmoke,
		965px 697px whitesmoke,
		1290px 33px whitesmoke,
		438px 108px whitesmoke,
		752px 526px whitesmoke,
		396px 244px whitesmoke,
		1057px 414px whitesmoke,
		370px 197px whitesmoke,
		142px 488px whitesmoke,
		466px 141px whitesmoke,
		1284px 16px whitesmoke,
		624px 726px whitesmoke,
		407px 522px whitesmoke,
		1282px 643px whitesmoke,
		1254px 279px whitesmoke,
		323px 471px whitesmoke,
		969px 702px whitesmoke,
		586px 772px whitesmoke,
		190px 317px whitesmoke,
		975px 132px whitesmoke,
		491px 379px whitesmoke,
		756px 754px whitesmoke,
		303px 38px whitesmoke,
		270px 55px whitesmoke,
		23px 784px whitesmoke,
		1001px 178px whitesmoke,
		1182px 563px whitesmoke,
		740px 472px whitesmoke,
		532px 510px whitesmoke,
		84px 441px whitesmoke,
		1310px 695px whitesmoke,
		1049px 561px whitesmoke,
		289px 796px whitesmoke,
		183px 376px whitesmoke,
		673px 294px whitesmoke,
		654px 114px whitesmoke,
		616px 737px whitesmoke,
		241px 508px whitesmoke,
		354px 425px whitesmoke,
		721px 12px whitesmoke,
		213px 56px whitesmoke;

}

.star3 {
	position: relative;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow:
		1175px 730px white,
		818px 744px white,
		52px 425px white,
		59px 261px white,
		166px 723px white,
		294px 743px white,
		750px 390px white,
		113px 497px white,
		653px 347px white,
		417px 669px white,
		66px 602px white,
		350px 37px white,
		943px 373px white,
		152px 362px white,
		1182px 208px white,
		1137px 308px white,
		510px 663px white,
		732px 323px white,
		1334px 380px white,
		745px 555px white,

		1111px 732px white,
		726px 277px white,
		143px 407px white,
		616px 471px white,
		59px 258px white,
		549px 115px white,
		1304px 97px white,
		66px 305px white,
		711px 550px white,
		1014px 144px white,
		581px 498px white,
		463px 738px white,
		211px 278px white,
		1025px 734px white,
		769px 103px white,
		232px 84px white,
		1180px 653px white,
		527px 315px white,
		715px 540px white,
		1300px 222px white;


	animation: anim-stars 25s linear infinite;

}

.star3::after {
	position: relative;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow:
		1175px 730px white,
		818px 744px white,
		52px 425px white,
		59px 261px white,
		166px 723px white,
		294px 743px white,
		750px 390px white,
		113px 497px white,
		653px 347px white,
		417px 669px white,
		66px 602px white,
		350px 37px white,
		943px 373px white,
		152px 362px white,
		1182px 208px white,
		1137px 308px white,
		510px 663px white,
		732px 323px white,
		1334px 380px white,
		745px 555px white,

		1111px 732px white,
		726px 277px white,
		143px 407px white,
		616px 471px white,
		59px 258px white,
		549px 115px white,
		1304px 97px white,
		66px 305px white,
		711px 550px white,
		1014px 144px white,
		581px 498px white,
		463px 738px white,
		211px 278px white,
		1025px 734px white,
		769px 103px white,
		232px 84px white,
		1180px 653px white,
		527px 315px white,
		715px 540px white,
		1300px 222px white;

}

@keyframes anim-stars {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-800px);
	}
}